/* CONTAINER */

.login-container{

    width:100%;
    padding:30px;

    display:flex;
    justify-content:center;
    align-items:center;
}

/* CARD */

.login-card{

    width:100%;
    max-width:430px;

    background:#FFFFFF;

    border-radius:18px;

    padding:40px;

    box-shadow:
    0 20px 50px rgba(0,0,0,.25);

    animation:fadeIn .6s ease;
    overflow:hidden;
}

/* LOGO */

.logo-area{

    text-align:center;

    margin-bottom:35px;
}

.logo-area h1{

    font-size:36px;

    color:#1D4ED8;

    margin-bottom:10px;
}

.logo-area p{

    color:#6B7280;

    font-size:15px;
}

/* FORM */

#loginForm{

    display:flex;

    flex-direction:column;

    gap:22px;
}

/* INPUTS */

.input-group{

    display:flex;

    flex-direction:column;
}

.input-group label{

    margin-bottom:8px;

    font-weight:bold;

    color:#374151;
}

.input-group input{

    height:50px;

    padding:0 15px;

    border:2px solid #D1D5DB;

    border-radius:10px;

    font-size:15px;

    transition:.3s;
}

.input-group input:focus{

    outline:none;

    border-color:#2563EB;

    box-shadow:0 0 8px rgba(37,99,235,.3);
}

/* BOTÃO */

button:not(.toggle-password){

    height:52px;

    border:none;

    border-radius:10px;

    background:#2563EB;

    color:white;

    font-size:17px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;
}

button:hover{

    background:#1D4ED8;

    transform:translateY(-2px);
}

button:not(.toggle-password):disabled{

    opacity:.8;

    cursor:not-allowed;

}
/* LINK */

.forgot-password{

    text-align:center;

    text-decoration:none;

    color:#2563EB;

    font-weight:bold;

    transition:.3s;
}

.forgot-password:hover{

    color:#1E40AF;
}

/* ANIMAÇÃO */

@keyframes fadeIn{

    from{

        opacity:0;

        transform:translateY(25px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

/* RESPONSIVO */

@media(max-width:500px){

.login-card{

padding:30px 25px;

}

.logo-area h1{

font-size:30px;

}

}

/* ==========================
   SENHA
========================== */

.password-container{

    position:relative;

    display:flex;

    align-items:center;

}

.password-container input{

    width:100%;

    padding-right:55px;

}

.toggle-password{

    position:absolute;

    right:8px;

    width:40px;

    height:40px;

    border:none;

    background:none;

    cursor:pointer;

    color:#555;

    font-size:18px;

}

.toggle-password:hover{

    color:#2563EB;

    transform:none;

}

/* ==========================
   MENSAGEM
========================== */

.message{

    margin-top:20px;

    text-align:center;

    font-weight:bold;

}

.message.error{

    color:#DC2626;

}

.message.success{

    color:#16A34A;

}